@import '~bootstrap/scss/bootstrap';

//Sezione per gestire la index dove verranno visualizzati tutti i progetti

.all-project-admin{
  background-color: #212121;
  height: calc(100vh - 56px);
  .card-container{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
    .card {
      color: black;
      text-decoration: none;
      text-align: center;
      width: 190px;
      height: 254px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
      background: #fff;
      display: flex;
      border-radius: 20px;
      justify-content: center;
      position: relative;
      transition: all .4s;

      .card-title{
        font-size: 1.5em;
        font-weight: bold;
      }
      .lang-section{
        .title-lang{
          font-weight: bold;
        }
      }
     }
     
     .card::before {
      content: 'Vai al progetto';
      letter-spacing: 0.2em;
      position: absolute;
      bottom: 8px;
      left: 20px;
      color: rgb(51, 51, 51);
      font-size: 0.8em;
      font-weight: 700;
     }
     
     .card .div {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      cursor: pointer;
      z-index: 10;
      transition: all .4s;
      background:linear-gradient(135deg, #0FF0B3 0%,#036ED9 100%);
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
     }
     
     .card:hover .div {
      transform: translateY(-30px);
     }
  }
  
  .edit-delete{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    font-size: 1.5em;
    .edit{
      color: white;
    }
    .delete{
      color: red;
    }
  }
}